.header {
  margin-bottom: -70px;
}

.header__link {
  display: flex;
  align-items: center;
  font: var(--roboto);
  color: var(--color-black);
  z-index: 1;
}

.header__link_active {
  color: var(--color-red);
}

.header__menu {
  display: flex;
  z-index: 1;
}

.header__icon-favourites {
  margin-right: 20px;
}

.header__link:hover .icon__favorites {
  color: var(--color-red);
  transition: color 0.2s;
}

.header__link:hover .header__favorite-text {
  color: var(--color-red);
}


.header__link_active:hover .icon__favorites {
  color: var(--color-red);
}

.header__link_active:hover .header__favorite-text {
  color: var(--color-red);
}