.jokes {
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--color-opacity-light);
}

.jokes_header {
  margin-bottom: 40px;
}

h1.jokes_title {
  margin-right: 40px;
}

.jokes__list {
  gap: 20px;
}

.jokes__description {
  text-align: center;
}

.jokes-card__button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.jokes-card__button-icon {
  color: transparent;
  transition: color ease-in .2s;
}

.jokes-card__button_active .jokes-card__button-icon {
  color: var(--color-red-100);
}

.jokes-card__button-icon:hover {
  color: var(--color-red-100);
}

.card_active {
  color: var(--color-red);
}