.favorites__header-menu {
  display: flex;
  z-index: 2;
}

.favorites__header-icon {
  margin-left: 104px;
}

.favorites-hero {
  padding-bottom: 0;
}

.favorites__hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.favorites__jokes {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  position: relative;
}

.favorites__list {
  gap: 20px;
}

.favorites__description {
  text-align: center;
}

.favorites__card:hover {
  background: var(--color-opacity-light-grey);
  backdrop-filter: blur(1.5px);
}