.hero {
  width: 100%;
  position: relative;
  padding-bottom: 160px;
}

.hero__image-circle {
  width: 276px;
  height: 174px;
}

.hero__title {
  margin-right: 158px;
  margin-bottom: 20px;
}

.hero__background {
  position: absolute;
  width: 1160px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}