.card {
  width: 570px;
  border: 2px solid var(--color-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 44px;
  row-gap: 20px;
  background: var(--color-opacity-light);
  border-radius: 50px;
}

.card__button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.card__button-icon {
  color: transparent;
  transition: color ease-in .2s;
}

.card__button_active .jokes-card__button-icon {
  color: var(--color-red);
}

.card__button-icon:hover {
  color: var(--color-red);
}