.description {
  font: var(--roboto);
}

.description_dark {
  color: var(--color-black)
}

.description_white {
  color: var(--color-white)
}

.description_red {
  color: var(--color-red)
}

.description_align_left {
  text-align: center;
}
 