.button {
  width: 275px;
  height: 70px;
  align-items: center;
  border-radius: 50px;
  color: var(--color-white);
  background: var(--color-red);
  border: none;
  font: var(--roboto);
}

.button:hover {
  background: var(--color-dark-red);
}

.button:disabled {
  background: var(--color-brown);
}