.layout {
  padding-top: 40px;
}

.main {
  width: 100%;
  position: relative;

}

.main__section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 160px;
}

.main__section:first-of-type {
  padding-top: 130px;
}

.main__section:not(:first-of-type) {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main__background {
  position: absolute;
  width: 1160px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../assets/images/background-long.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

